{% block title %}{% endblock %}

{% block content %}
    <div class="container col-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="container text-center">
            <button class="btn btn-lg mb-5 btn-success text-center">{{ button_label|default('Ajouter') }}</button>
            {{ form_end(form) }}
            <a href="{{ path('targets') }}" class="btn btn-lg btn-warning mb-5 text-center">Retour</a>
        </div>
    </div>
{% endblock %}