{% extends 'base.html.twig' %}

{% block title %}KGB - Service de renseignements Russe !{% endblock %}

{% block content %}
    <h1 class="text-center">Tableau des Missions</h1>
        <div class="container-fluid col-4 my-5">
            {{ form_start(form) }}
            <div class="d-flex">
            {{ form_widget(form.search) }}
            {{ form_widget(form.Rechercher) }}
            </div>
            {{ form_end(form) }}
        </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Nom de code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Statut de la mission</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for mission in missions %}
                <tr>
                    <th scope="row">{{ mission.id }}</th>
                    <td>{{ mission.title }}</td>
                    <td>{{ mission.codename }}</td>
                    <td>{{ mission.description }}</td>
                    <td>
                        <span class="badge rounded-pill bg-info text-dark">{{ mission.statusmission }}</span>
                    </td>
                    <td class="d-flex justify-content-between">
                       <a href="{{ path('mission_details', { 'id': mission.id }) }}" class="btn btn-sm btn-success">En savoir plus</a>
                        {% if app.user %}
                        <a href="{{ path('mission_modify', {'id': mission.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                            {{ include('mission_details/delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
                    {% else %}
                    <tr class="text-center">
                        <td colspan="12">Il n'y a pas de mission pour le moment</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if app.user %}
        <div class="text-center">
        <a href="{{ path('mission_add') }}" type="button" class="btn btn-sm btn-outline-info">
            Ajouter une mission <span class="badge bg-info">+</span>
        </a>
        </div>
        {% endif %}
    </div>
{% endblock %}