{% extends 'base.html.twig' %}

{% block title %}KGB - Détail de la planque : {{stashs.alias}}{% endblock %}

{% block content %}
    <h1 class="text-center text-decoration-underline mb-5">Détail de la Planque : {{ stashs.alias }}</h1>
    <div class="container col-5 m-auto">
        <div class="table-responsive">
            <table class="table table-hover table-dark">
                <tbody>
                <tr>
                    <th>Alias :</th>
                    <td>{{ stashs.alias }}</td>
                </tr>
                <tr>
                    <th>Adresse :</th>
                    <td>{{ stashs.address }}</td>
                </tr>
                <tr>
                    <th>Pays :</th>
                    <td>{{ stashs.country }}</td>
                </tr>
                <tr>
                    <th>Type :</th>
                    <td>{{ stashs.type }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <a class="btn btn-sm btn-warning text-center" href="{{ path('stashs') }}">retour</a>
        </div>
    </div>
{% endblock %}
